* {
  box-sizing: border-box;
}
:root {
  --red: #fd7274;
  --lightest-green: #dcf8c6;
  --light-green: #25d366;
  --green: #1ebea5;
  --green-accent: #1eaa95;
  --dark-green: #075e54;
  --blue: #34b7f1;
  --light-accent: #ece5dd;
  --white: #fff;
  --dark-grey: #273443;
  --light-grey: #27344367;
  --darkest-grey: #232f3c;
  --nav-height: 8rem;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  font-size: 10px;
}
body {
  max-width: 1920px;
  margin: auto;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-size: 600px 1102px;
  background-image: url('../img/whatsapp_background.webp');
}
body * {
  transition: 0.3s ease;
  transition-property: background-color;
}
body.dark {
  --dark-mode-grey: #2a2f32;
  --dark-mode-grey-dark: #1a1c1d;
  --dark-mode-grey-accent: #353b3d;
  --dark-blue: #131c21;
  --dark-mode-white: #e1e2e3;
  --dark-mode-dull-white: #b4b4b4;
  background-size: 400px 680px;
  background-image: url('../img/whatsapp_background_dark.webp');
}

a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

textarea {
  display: block;
}
::placeholder,
button,
textarea {
  font-family: var(--font);
}

label {
  font-size: 1.6rem;
  line-height: 3.5rem;
}

.nav-bar {
  position: sticky;
  padding: 0 10%;
  height: var(--nav-height);
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark .nav-bar {
  background-color: var(--dark-mode-grey);
  color: var(--dark-mode-dull-white);
}

.logo {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 0.8rem;
}

.logo img {
  height: 3.5rem;
}
.logo p {
  font-size: 2rem;
  font-weight: 500;
}

.nav-links{
  display: flex;
  gap: 1.5rem;
}
.theme-toggle{
  cursor: pointer;
}
.theme-icon{
  height: 3.2rem;
}

.image-link {
  height: 3.2rem;
}

.main-section {
  display: flex;
  min-height: calc(100vh - var(--nav-height));
}

.description {
  width: 50%;
  background-color: var(--dark-grey);
  padding:  6rem 5%;
  padding-bottom: 0;
  color: var(--white);
}

.dark .description {
  background-color: #131c21;
}

.img-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demo-image {
  width: 30rem;
}

.message-form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--dark-grey);
}

.dark .message-form {
  color: var(--dark-mode-white);
}

.tab {
  height: 3rem;
  width: 100%;
  display: flex;
}
.tab-item {
  text-transform: uppercase;
  user-select: none;
  color: #fcfcfcd7;
  background-color: var(--green);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2.3rem 0;
}

.dark .tab-item {
  background-color: var(--dark-mode-grey);
}

.active-tab {
  color: white;
  background-color: var(--green-accent);
  position: relative;
}

.dark .active-tab {
  background-color: var(--dark-mode-grey-accent);
}

.active-tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: white;
}

.form-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 7% 10%;
}

.message-form #error {
  color: var(--red);
  font-weight: 500;
}

.message-btn {
  cursor: pointer;
  color: var(--white);
  border-radius: 5rem;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0.8rem 1.8rem;
  margin: 1rem 0;
  border: none;
  background-color: var(--light-green);
  transition: 0.5s;
  transition-property: transform;
}

.dark .message-btn {
  color: var(--dark-mode-white);
  background-color: var(--dark-green);
}

.message-btn:focus {
  outline: none;
}
.message-btn:active {
  transform: translateY(0.5rem);
}

.message-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 1.8rem;
  height: 20rem;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  resize: none;
}

.dark .message-box {
  color: var(--dark-mode-white);
  background-color: #262d31;
  border-color: #434f55;
}

.dark ::placeholder {
  color: var(--dark-mode-dull-white);
}

.small-box {
  height: 15rem;
}

.message-box:focus {
  outline: none;
  transition: box-shadow ease 0.25s, border-color ease 0.25s;
}
#message-box-label {
  margin-top: 5rem;
}
.form-control {
  width: 100% !important;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

.dark .form-control {
  background-color: #262d31 !important;
  color: var(--dark-mode-white) !important;
  border-color: #434f55 !important;
}
.dark .country {
  background-color: #262d31 !important;
  color: var(--dark-mode-white) !important;
}
.dark .dial-code{
  color: var(--dark-mode-white) !important;
}

.form-control:focus,
.selected-flag.open:before,
.selected-flag:focus:before,
.message-box:focus {
  border-color: var(--light-grey) !important;
  box-shadow: 0 0 0 0.2rem var(--light-grey) !important;
}
.dark .form-control:focus,
.dark .selected-flag.open:before,
.dark .selected-flag:focus:before,
.dark .message-box:focus {
  border-color: #434f55 !important;
  box-shadow: 0 0 0 0.2rem #434f55 !important;
}

.overlay {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.dark .overlay{
  background-color: #000;
  opacity: .65;
}

.alert {
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 400px;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  z-index: 999;
}
.dark .alert{
  background-color: #3B4042;
}
.alert h3 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}
.btn-list {
  margin-top: 3em;
  align-self: flex-end;
}
.alert-btn {
  cursor: pointer;
  border: 0;
  padding: 1em;
  border-radius: 3px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--light-green);
}
.dark .alert-btn{
  opacity: 1;
  color: #00AF9D;
}
.alert-btn:active {
  filter: brightness(1.1);
}
.alert-btn:focus {
  outline: none;
}
.primary {
  margin: 0 1em;
  padding: 1rem;
  border-radius: 3px;
  color: white;
  background-color: var(--light-green);
}
.dark .primary{
  color:black;
  background-color: #00AF9D;
}

footer {
  position: relative;
  z-index: 997;
  background-color: var(--darkest-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.dark footer{
  background-color: var(--dark-mode-grey-dark);
  color:var(--dark-mode-white)
}
footer a {
  color: var(--green);
}

@media only screen and (min-width: 950px) {
  .description {
    -webkit-box-shadow: 11px 0px 21px -11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 11px 0px 21px -11px rgba(0, 0, 0, 0.4);
    box-shadow: 11px 0px 21px -11px rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 950px) {
  .main-section {
    flex-direction: column;
  }
  .message-form {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  :root {
    --nav-height: 6rem;
  }
  .form-control {
    height: 2rem !important;
  }
  .nav-bar {
    padding: 8% 7%;
  }
  .alert {
    width: 80vw;
  }
  .form-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 2.5vw;
  }
  .alert-btn {
    font-size: 1.3rem;
  }
}
