* {
  box-sizing: border-box;
}
:root {
  --red: #fd7274;
  --lightest-green: #dcf8c6;
  --light-green: #25d366;
  --green: #1ebea5;
  --green-accent: #1eaa95;
  --dark-green: #075e54;
  --blue: #34b7f1;
  --light-accent: #ece5dd;
  --white: #fff;
  --dark-grey: #273443;
  --light-grey: #27344367;
  --darkest-grey: #232f3c;
  --nav-height: 8rem;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  font-size: 10px;
}
body {
  max-width: 1920px;
  margin: auto;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-size: 600px 1102px;
  background-image: url('./images/whatsapp_background.webp');
}
body * {
  transition: 0.3s ease;
  transition-property: background-color;
}
body.dark {
  --dark-mode-grey: #2a2f32;
  --dark-mode-grey-dark: #1a1c1d;
  --dark-mode-grey-accent: #353b3d;
  --dark-blue: #131c21;
  --dark-mode-white: #e1e2e3;
  --dark-mode-dull-white: #b4b4b4;
  background-size: 400px 680px;
  background-image: url('./images/whatsapp_background_dark.webp');
}

a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

textarea {
  display: block;
}
::placeholder,
button,
textarea {
  font-family: var(--font);
}

label {
  font-size: 1.6rem;
  line-height: 3.5rem;
}

.form-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 7% 10%;
}

.text-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 1.8rem;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.dark .text-input {
  color: var(--dark-mode-white);
  background-color: #262d31;
  border-color: #434f55;
}

.dark ::placeholder {
  color: var(--dark-mode-dull-white);
}

.small-box {
  height: 15rem;
}

.text-input:focus {
  outline: none;
  border-color: var(--light-grey) !important;
  box-shadow: 0 0 0 0.2rem var(--light-grey) !important;
  transition: box-shadow ease 0.25s, border-color ease 0.25s;
}

.dark .text-input:focus {
  border-color: #434f55 !important;
  box-shadow: 0 0 0 0.2rem #434f55 !important;
}

@media only screen and (max-width: 680px) {
  .form-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 2.5vw;
  }
}
