:root {
  --red: #fd7274;
  --lightest-green: #dcf8c6;
  --light-green: #25d366;
  --green: #1ebea5;
  --dark-green: #075e54;
  --blue: #34b7f1;
  --light-accent: #ece5dd;
  --white: #fff;
  --dark-grey: #273443;
  --light-grey: #27344367;
  --darkest-grey: #232f3c;
  --nav-height: 8rem;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  margin: auto;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-size: 600px 1102px;
  background-image: url('./img/whatsapp_background.webp');
}

a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

textarea {
  display: block;
}
::placeholder,
button,
textarea {
  font-family: var(--font);
}

label {
  font-size: 1.6rem;
  line-height: 3.5rem;
}

.nav-bar {
  position: sticky;
  padding: 0 10%;
  height: var(--nav-height);
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 0.8rem;
}
.logo img {
  height: 3.5rem;
}
.logo p {
  font-size: 2rem;
  font-weight: 500;
}

.image-link {
  height: 3.2rem;
}

.main-section {
  display: flex;
  min-height: calc(100vh - var(--nav-height));
}

.description {
  flex: 1;
  background-color: var(--dark-grey);
  padding: 8vh 8%;
  padding-bottom: 0;
  color: var(--white);
}
.img-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demo-image {
  width: 30rem;
}

.message-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 8vh 8%;
  color: var(--dark-grey);
}

.form-wrapper {
  width: 100%;
  height: fit-content;
}

.message-form #error {
  color: var(--red);
  font-weight: 500;
}

.message-btn {
  cursor: pointer;
  color: var(--white);
  border-radius: 5rem;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0.8rem 1.8rem;
  margin: 1rem 0;
  border: none;
  background-color: var(--light-green);
  transition: 0.5s;
  transition-property: transform;
}
.message-btn:focus {
  outline: none;
}
.message-btn:active {
  transform: translateY(0.5rem);
}

.message-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 1.8rem;
  height: 20rem;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  resize: none;
}
.message-box:focus {
  outline: none;
  transition: box-shadow ease 0.25s, border-color ease 0.25s;
}
#message-box-label {
  margin-top: 5rem;
}
.form-control {
  width: 100% !important;
}
.form-control:focus,
.selected-flag.open:before,
.selected-flag:focus:before,
.message-box:focus {
  border: none !important;
  box-shadow: 0 0 0 0.2rem var(--light-grey) !important;
}

footer {
  background-color: var(--darkest-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
footer a {
  color: var(--green);
}

@media only screen and (min-width: 950px) {
  .description {
    -webkit-box-shadow: 11px 0px 21px -11px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 11px 0px 21px -11px rgba(0, 0, 0, 0.4);
    box-shadow: 11px 0px 21px -11px rgba(0, 0, 0, 0.4);
  }
}

@media only screen and (max-width: 950px) {
  .main-section {
    flex-direction: column;
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 7%;
    padding-bottom: 1px;
  }

  .description h1 {
    font-size: 2.5rem;
  }
  .description p {
    font-size: 1.4rem;
  }
  .message-form {
    padding: 5vh 7%;
  }
}

@media only screen and (max-width: 680px) {
  :root {
    --nav-height: 6rem;
  }
  .form-control {
    height: 2rem !important;
  }
  .nav-bar {
    padding: 0 5%;
  }
  .description {
    padding: 5vh 5%;
    padding-bottom: 1px;
  }
  .message-form {
    padding: 5vh 5%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 2.5vw;
  }
}
